<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team8.potatodoctor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_potato"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.team8.potatodoctor.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.team8.potatodoctor.CategoriesListActivity"
            android:label="@string/app_name" 
            ></activity>
        <activity 
            android:name="com.team8.potatodoctor.PestsActivity"
            android:label="@string/pests"
        	android:parentActivityName="com.team8.potatodoctor.MainActivity"
            ></activity>
        <activity 
            android:name="com.team8.potatodoctor.PlantSymptomActivity"
            android:label="@string/leaves"
        	android:parentActivityName="com.team8.potatodoctor.MainActivity"
            ></activity>
        <activity 
            android:name="com.team8.potatodoctor.TuberSymptomActivity"
            android:label="@string/tubers"
        	android:parentActivityName="com.team8.potatodoctor.MainActivity"
            ></activity>
        
        <activity 
            android:name="com.team8.potatodoctor.ObjectDescriptionActivity"
            android:label="@string/placeholder"
        	android:parentActivityName="com.team8.potatodoctor.MainActivity"
            ></activity>
        <activity 
            android:name="com.team8.potatodoctor.VideoActivity"
            android:label="@string/placeholder"
        	android:parentActivityName="com.team8.potatodoctor.MainActivity"
            ></activity>
        <activity 
            android:name="com.team8.potatodoctor.VideoGridActivity"
            android:label="@string/placeholder"
        	android:parentActivityName="com.team8.potatodoctor.MainActivity"
            ></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
