<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team8.potatodoctor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_potato"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        
        <!-- Enable the search dialog to send searches to SearchableActivity -->
        <meta-data android:name="android.app.default_searachable"
            android:value=".SearchableActivity" />
        
        <!-- ========================== Primary Activities ========================== -->
        
        <!-- Main Activity - Deprecated -->

        <activity
            android:name="com.team8.potatodoctor.activities.MainActivity"
            android:label="@string/app_name" ></activity>
        
        <!-- CategoriesListActivity -->
        <activity 
            android:name="com.team8.potatodoctor.activities.CategoriesListActivity"
            android:label="@string/app_name" >
            
            <!-- Set as startup Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /></intent-filter>
                
        </activity>
        
        <!-- PestsActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.PestsActivity"
            android:label="@string/pests"
        	android:parentActivityName="com.team8.potatodoctor.activities.CategoriesListActivity"></activity>
        
        <!-- PlantSymptomActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.PlantSymptomActivity"
            android:label="@string/leaves"
        	android:parentActivityName="com.team8.potatodoctor.activities.CategoriesListActivity"></activity>
        
        <!-- TuberSymptomActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.TuberSymptomActivity"
            android:label="@string/tubers"
        	android:parentActivityName="com.team8.potatodoctor.activities.CategoriesListActivity"></activity>
        
        <!-- ObjectDescriptionActivity - No parentActivityName-->
        <activity 
            android:name="com.team8.potatodoctor.activities.ObjectDescriptionActivity"
            android:label="@string/placeholder"
        	></activity>
        
        <!-- TutorialActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.TutorialActivity"
            android:label="@string/placeholder"
        	android:parentActivityName="com.team8.potatodoctor.activities.CategoriesListActivity"
        	android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        
        <!-- VideoGridActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.VideoGridActivity"
            android:label="@string/placeholder"
        	android:parentActivityName="com.team8.potatodoctor.activities.VideoActivity"></activity>
        
        <!-- ========================== Menu Bar Activities ========================== -->
        
        <!-- DELETE --><!-- this is the searchable activity; it performs searches -->
        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <!-- SearchActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.menu_bar_activities.SearchActivity"
            android:label="@string/action_search">
            
            <!-- Define as the search activity -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        
        <!-- ImageShareActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.menu_bar_activities.ImageShareActivity"
            android:label="@string/action_imageshare"></activity>
        
        <!-- UpdateActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.menu_bar_activities.UpdateActivity"
            android:label="@string/action_update"></activity>
        
        <!-- SettingsActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.menu_bar_activities.SettingsActivity"
            android:label="@string/action_settings"></activity>
        
        <!-- ExitActivity-->
        <activity 
            android:name="com.team8.potatodoctor.activities.menu_bar_activities.ExitActivity"
            android:label="@string/action_exit"></activity>
        
    </application>
    
</manifest>
